{% extends "base.html" %}
{% block title %}カテゴリー登録{% endblock%}

{% block content %}
<form method="post">{% csrf_token %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>カテゴリー登録フォーム</h4>
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        {% for field in form %}
          <tr {% if field.errors %}class="alert-danger"{% endif %}>
            <th>{{ field.label }}</th>
            <td>{{ field.errors }}{{ field }}</td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="panel-footer align-center">
      <button type="submit" class="btn btn-lg btn-primary">登録</button>
    </div>
  </div>
</form>
{% endblock %}
