{% extends "base.html" %}
{% block title %}ToDo修正{% endblock%}

{% block content %}
<form method="post">{% csrf_token %}
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h4>ToDo修正フォーム</h4>
    </div>
    <div class="panel-body">
      <table class="table table-bordered">
        {% for field in form %}
          <tr {% if field.errors %}class="alert-danger"{% endif %}>
            <th>{{ field.label }}</th>
            <td>{{ field.errors }}
              {% if field == form.categories %}
                <div class="checkbox">{{ field }}</div>
              {% else %}
                {{ field }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
    <div class="panel-footer align-center">
      <button type="submit" class="btn btn-lg btn-primary">修正</button>
    </div>
  </div>
</form>
{% endblock %}

